{% extends 'product/base.html' %}


{% block content %}

<div class="row">
  <img src="https://lh3.googleusercontent.com/yLEaMUuMyllC4PpXtD5q88f5KlKuDg6RgGJMRSLbo064AX5jHCtX7w3HibLQr0d0d2Wjs-CwV-3YgUl4N3lE0zvRBS4qvW-mqlEyBn4LMY9HeeN2WxTKNYWRsOGFcMSngyn7L_dC3oy2iTYtXLXblEGaJ4qqOghEPH2RwJzRvy5584U9Q9pspAnDL_pSkSw90jS3RBE6YkRKuSTtiREBZNwzy2DfqssRHcdwtWkQg36A3zxtl94-zbjYTGoM8XpPwb2W6JLgf5L7donMxtJ0dqqi3SlWhklYk_6Ww100mUyrgfHzZHMxT_NsedqZuZhNVFDtBEKoyPLcvLcJ1FXlFcRW3ZnwMaK9Esw2ElOYVg2KAbuZyhYu4upPpMyKwLWK1tzbmq_3LXpwBnAL8Cr9OEuFMkzxpJt1FFDxBROYvwpt2su8fKR1eibylG0CTk5xY0m0HB2kndwbUWjArBpG2_noNRHPAD6THdOwXdXeJXEabnSm9vne754sU7nfOFp09bbuwlhDnRypY6gaa_z_fFXpUmLgDo4Qd_u6GWoTg8kpSARWZPyXirtIDZeS2on4IU4VJdd2hd7kuYmeNM53TqxpDHyiK6Yu9Uu2Lw7SWQRSoDy960m5vYBrW0R2_JUC67LGRycUBA90RLBPtqycEaZCTXcVsW2KJLS4XnXwHq54RPSrMy76QsaJ-xNHvlTdIBA_6AwZUJh6TpiELq8wisrn6LanWbYAdFRwsIadFubyYdU=s632-no" width="400"><br><br> 

<p><br><br>เดิมทีผมเคยทำงานเกี่ยวกับ IT ได้มาณ 12 ปี จนกระทั่งคุณแม่ผมเสียชีวิตด้วยโรคมะเร็ง ผมจึงลาออกจากงานและไปแสวงหาความท้าทายที่ต่างประเทศ คือ อเมริกา และออสเตรเลีย ระหว่างที่เรียนอยู่เมื่องนอก ผมได้มีโอกาสทำงานในร้านอาหารไทยในต่างประเทศ นั่นคือจุดเริ่มต้น ของชีวิตการเป็นพ่อครัวของผมตั้งแต่นั้นมา<br><br></p>   

<p>หลังจากได้กลับมาเมืองไทย ผมได้เริ่มทำธุรกิจเกี่ยวกับอาหาร เริ่มจากทำ Catering ให้กับบริษัทท่าอากาศยานไทย จำกัด มหาชน ทำทั้งอาหารหลักและของว่าง  ต่อมาได้เปิดตัวร้านของตนเองชื่อโก๋โขทัย ขายผัดไทยสุโขทัย และข้าวผัดปู และมีขนมหวานได้นำมาขายในร้าน คือขนมครกสิงคโปร์ ซึ่งได้รับความสนใจจากลูกค่าที่ผมทานอาหารเป็นจำนวนมาก<br><br></p>  

<p>ดังนั้นผมจึงได้เริ่มธุรกิจขนมครกสิงคโปร์ by ครัวคุณหรั่ง ซึ่งขายเฉพาะขนมครกสิงคโปรเพียงอย่างเดียว ก็ได้รับความนิยมจากลูกค้าเป็นอย่างมากเนื่องจากขนมชนิดนี้ หาทานยาก และเป็นสูตรเฉพาะของทางร้านครัวคุณหรั่ง ซึ่งมีความเหนียวนุ่ม รสชาติหวานกำลังดี และมีรสชาติให้ท่านได้เลือกทานถึง 5 รสชาติ<br><br></p>  

<p>"จากเด็ก IT สู่พ่อครัวขนมหวาน" เราจะไม่หยุดพัฒนา เพื่อให้ท่านได้สัมผัสรสชาติอันมีเสน่ของขนมไทยโบราณ ติดต่อได้ที่เบอร์ 095 962 4350 คุณหรั่ง<br><br></p>

</div>

{% endblock content %}