{% extends 'product/base.html' %}


{% block content %}

 <div class="row">
      <div class="col-md-4">
        <h2>ขนมครกสิงคโปร์</h2>
        <img src="https://lh3.googleusercontent.com/5WABK5TUEDJeaOdN6hk2CTrk7bM3sMzS4j6DTgDt__y9Tl2JQtSgyCvqpKMoLZJjPJyCv_2kbh22OShZ-TtgwtFPjlP_lkqtvXrwYxnyFDfcBsJgoX1brFg14-EwdzmZyCWLbxhh1wBkUCaq52eeh6ede20oyTjNZsWm_AtGEDiQxd5Y7SsTNHIgO6plVQNHxj0Iuv5JrLQHFvupdWLFOTII2RUoXsF__YwATY38gz0m30A-n8uCm3gF7zFACTQZNq0jnI-O_fZbYeWQXq2NHGzjn3ory4zDZ379A58MUJywdiWOGI6UEY4B0eHPj133XfokM1MYWtM9zu6V-wZz_V5OiNE77W91KIJz5EJbWs2hwDlx0BxcHv2iE077sJmZyeL7dV2Cd5GmqEx75xabzHuI1P_CrUyjA_qjyQlt31f8jDvvKPU5paY5f6URtYtBktzGOHO3WbTJuWfY6s6-aQTfbupDQ8vaOu8uMaIS6-whDu3q9M1LiUyWLJI5GEh3txhYWJMFM5jvAeCfU3X6-pCMb6ZYZ7LMIVSAgECgXUUGwvR3WWjOvgIKbtdE_2FtQlGbRQOwqjoTI7kBaHR7YDPljx3c2XLq4nPTHA7ULhtZm4oKMh67CYE52OEbnlNnBX8fFX9CqlTXB8g7GluHQoHOaS_tFN5CLsMnVfJYjX5hLdRlk3hGz33WWMSPs5jUJjqjG6CdkZZXfjSzeHllqh4xpuw6XOfic-ymaZ6psu5N9Lw=s632-no" width="200">
        <p>ขนมครกสิงคโปร์ หรือ ขนมครกใบเตย ลักษณะเนื้อขนมจะเหนียวนุ่มหอมใบเตย วิธีการทำจะหยอดลงในถาดหลุมทองเหลืองตามแบบวิธีทำขนมไทยโบราณที่นิยมทำในภาชนะทองเหลือง โดยในหลุมจะเป็นพิมพ์รูปดอกไม้ พอสุกตักออกมาเนื้อขนมจะนุ่มนิ่ม ขนมครกสิงคโปร์เดี๋ยวนี้หาทานยาก จะหาร้านที่ทำขนมชนิดนี้ ก็เรียกว่าต้องเสาะหากันพอสมควรทีเดียวครับ</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>ซูเฟล่แพนเค้ก</h2>
        <img src="https://lh3.googleusercontent.com/52W-kt4i4oCwHBL0KZaQkueir0EpzspdkisqLcrcvIPrPFvkN-NUThfafN48tNAUel7eq7p30L6z53qOyFkIvTorYrAfRPTzPREzlheEgQblPZu35GpgbuT4jB55xVDZqFTWkToXbqJlI6XyXxv8NNxcwI4DKeSs1zsseTWAupRQmVuW9f0jGDcDNyJk5ZkC7p01zmbWAGM8BR3oL8wNUR6BVD2mmn8gbakhY5anDlqmGBa5y7E4YtfhajGN5GK-KHNsgaiQ2h1lRIEjaKQsvy6iXFUmh9LTAIivaT7g_EO0XrcKJ98FIDGrwbQPp8qnzckAH4DZn0DZJ-I9iS5KZRNeYamNmiBvrEUL-9ZxvhQcejA9StZhiRfopMB3hc1aq6CkWEhDidJXzsfA32ss9oUi-AV43os4R0liFSG2hPAQWzK8nHm393xmnZ-c74Qdf0eCLSl6T7HzZcoLFvBcLpXC2sx8FQ_qFSJa_RrZLq4wLg-w4xjowDaMNEmzTqxUDQOYQebwOCZEQaQu77xrUVNaqcdcYa5SVEFqDGDZJYks0dy8aTUXjM7KqBgUWES7d4YXazyTlajL42pEP8bJKobkkJAbgJKuVrCY1eFeV7YHloZAoqEjfhyXjEeGYpjqaHGoRTNNzDbYCkHVxO0cZc424zY1vpHd2Qw9cHjAPldEzB6IliCzr-HcHrEBGDze2bxziuEl2WacHPhweEUQ4-PLK1ztWLd-cJhBIAney3-bt3M=s632-no" width="200">
        <p>ซูเฟล่แพนเค้ก คือ แพนเค้กที่มีลักษณะฟูๆนุ่นๆ ชิ้นหนามากกว่าแพนเค้กทั่วไป รสชาติเป็นเอกลักษ์ ทานคู่กับเมเปิ้ลไซลัป ครีมเนยสดและผลไม้สด อร่อยอย่าบอกใคร เป็นขนมที่ถือว่าฮิตมากๆใช้ยุคนี้  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>ขนมไข่สูตรโบราณ</h2>
        <img src="https://lh3.googleusercontent.com/EjlTlXqQqSS7Tq3nkOQFOqy9vSQaYr1FG3mi4ORBQ5YeMawLv566g9w25QnT7NdOkywau7aK-mbvXppFnOyYN7h6LvtjnrVgi_UYR2LxqPyyEpcaUoWTJLsA_C3Trtp0K-JKH6Bo-4QbLvNZs0uLUvi0MZ12SbV4NpHrC299B8Q0f2bxD6CRndL4vXDkZppDYbQ1uz3kMBsmBKOnbAS5mO-YjX6Cc-bbUVJO9OjFNFB9hlH38PH9zjMRv2Jcq2Lvs8Vx1mo6XhLxtp-z7BYDcDkzt13bWoQ0XgiRSe9OTPvyjLsTgZcy1Q2cIfZnQbVRpsWY5DgVeU8l9q4SWYQdRhSs-89UWbjTtvWdzCi-tH9cGvfGfz-IdBi5tbEtvq6ZSO4osrPG3Al3Iza8-HIT44R7QoHckoe8GHdM6SDEzbn-PqpNmmIlvm-KGS1l9usJWll-aWYTw7JjQuyB3wc4hsrgb8LcFMASQoG5ya64-3cGYDPQGyDKCwKm3SIP8oaF5258nbjMfGRz0AkFqQ44G3GFb7wnNH95Pve6J6KJJX-JDXrpO7HHhqyzMUgVswkS2njGGDvBYkJ3JDdoQ-5NjQEtT1R2FfFe3iW6pMc5ZqUc4S_EBl42Ba2_Ds28TAsTM9QSITcCQ0PLGGw354wRIC7HcafOjdXDk0-HlE1-S24kI3ogMYZZFgMY5QKoVqIwLZNRpgLrA1DuzwOrJuRnBHz-rVcOHKVMRNqeOg1Hh1lWRBU=w751-h532-no" width="200">
        <p>ขนมไข่ มีลักษณะ เป็นวงรี กลมๆ คล้ายดอกไม้และสมัยปัจจุบันจะมีรูปแบบอื่นเพิ่มขึ้นเช่น รูปปลา ขนมไข่มีที่มาจากประเทศมเลเซีย มีคุณค่าทางโภชนาการสูงเพราะมีส่วนผสมของแป้งไข่และน้ำตาลเป็นหลักขนมไข่เป็นขนมโบราณอย่างหนึ่งควรอนุรักษ์ไว้เพื่อให้ลูกหลานรุ่นหลังได้รู้จัก</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

{% endblock content %}